[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bcrm"]
	path = bcrm
	url = https://github.com/mikesweeting/bcrm
[submodule "pipe.design"]
	path = pipe.design
	url = https://github.com/mikesweeting/pipe.design
